POSTGRES_PASSWORD=123password
POSTGRES_USER=postgres
POSTGRES_DB=appdb

export APP_DB_USERNAME=$POSTGRES_PASSWORD
export APP_DB_PASSWORD=$POSTGRES_USER
export APP_DB_NAME=POSTGRES_DB

export TEST_DB_USERNAME=$APP_DB_USERNAME
export TEST_DB_PASSWORD=$APP_DB_PASSWORD
export TEST_DB_NAME=define_here_db_test
